name: CI

on:
  push:
    branches: [main]
  pull_request:
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  BUILD_TYPE: Release
  MAKEFLAGS: "-j2"

defaults:
  run:
    shell: bash

jobs:
  build-ubuntu:
    name: Build and Test on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up mold as linker
        uses: rui314/setup-mold@v1
      - name: Configure CMake
        run: cmake -S "${{github.workspace}}" -B "${{github.workspace}}/build" -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DBINDINGS=ON -DBUILD_DDSIM_TESTS=ON -DBUILD_QFR_TESTS=ON -DBUILD_DD_PACKAGE_TESTS=ON
      - name: Build
        run: cmake --build "${{github.workspace}}/build" --config $BUILD_TYPE
      - name: Test
        run: ctest --build-config $BUILD_TYPE --output-on-failure --test-dir build --repeat until-pass:3 --timeout 300 --tests-regex "CircuitSimTest.*|LimTest.*(tiny|simple|randomCliffordCircuit_([3-9]|1[0-5]))"

  build-macos:
    name: Build and Test on MacOS
    needs: [build-ubuntu]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Configure CMake
        run: cmake -S "${{github.workspace}}" -B "${{github.workspace}}/build" -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DBUILD_DDSIM_TESTS=ON
      - name: Build
        run: cmake --build "${{github.workspace}}/build" --config $BUILD_TYPE
      - name: Test
        run: ctest --build-config $BUILD_TYPE --output-on-failure --test-dir build --repeat until-pass:3 --timeout 300 --tests-regex "CircuitSimTest.*|LimTest.*(tiny|simple|randomCliffordCircuit_([3-9]|1[0-5]))"

  build-windows:
    name: Build and Test on Windows
    needs: [build-ubuntu]
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: ilammy/msvc-dev-cmd@v1
      - name: Configure CMake
        run: cmake -S "${{github.workspace}}" -B "${{github.workspace}}/build" -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DBUILD_DDSIM_TESTS=ON -T "ClangCl"
      - name: Build
        run: cmake --build "${{github.workspace}}/build" --config $BUILD_TYPE
      - name: Test
        run: ctest --build-config $BUILD_TYPE --output-on-failure --test-dir build --repeat until-pass:3 --timeout 300 --tests-regex "CircuitSimTest.*([A-FH-Z].*)|LimTest.*(tiny|simple|randomCliffordCircuit_([3-9]|1[0-5]))"

  coverage:
    name: Coverage
    needs: [build-ubuntu]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up mold as linker
        uses: rui314/setup-mold@v1
      - name: Configure CMake
        run: cmake -S "${{github.workspace}}" -B "${{github.workspace}}/build" -DCMAKE_BUILD_TYPE=Debug -DENABLE_COVERAGE=1 -DCOVERAGE=ON -DBUILD_DDSIM_TESTS=ON -DBUILD_QFR_TESTS=ON -DBUILD_DD_PACKAGE_TESTS=ON -DBINDINGS=ON
      - name: Build
        run: cmake --build "${{github.workspace}}/build" --config Debug
      - name: Test
        working-directory: ${{github.workspace}}/build/test
        run: ctest --build-config Debug --output-on-failure --repeat until-pass:3 --timeout 300 --tests-regex "CircuitSimTest.*|LimTest.*(tiny|simple|randomCliffordCircuit_([3-9]|1[0-5]))"
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          gcov: true
